## Geocoding

In [2]:
import os
key=os.environ.get("GOOGLEMAP_API_KEY")

In [3]:
import googlemaps
from datetime import datetime

gmaps = googlemaps.Client(key=key)

# Geocoding an address
geocode_result = gmaps.geocode('chinese resteraunt manhatten')




lat = geocode_result[0]['geometry']['location']['lat']

lng = geocode_result[0]['geometry']['location']['lng']

In [4]:
lat

39.1903726

In [29]:
def geocoder_here(adress, token=HERE_API_KEY):
    """
    adress: NewYork libery
     ==>  {'lat': 41.79854, 'lng': -74.74493}
    """
    geocoderApi = herepy.GeocoderApi(api_key=token)
    res = geocoderApi.free_form(adress)
    res = res.as_dict()
    coords = res["items"][0]["position"]
    coords = {k.lower(): v for k, v in coords.items()}
    return coords

In [32]:
adress = "NewYork libery"
geocoder_here(adress)

{'lat': 41.79854, 'lng': -74.74493}

In [43]:
geocoderReverseApi.retrieve_addresses((41.79, -74.74)).as_dict()['items'][0]['address']['label']

'36 Liberty Commons Way, Liberty, NY 12754-3009, United States'

In [57]:
def reverse_geocoder_here(coords, token=HERE_API_KEY):
    """
    coords: (lat, lng)
    ==> 4 Av du General de Gaulle
    """
    geocoderReverseApi = herepy.GeocoderReverseApi(token)
    res = geocoderReverseApi.retrieve_addresses(coords)
    res = res.as_dict()
    adress = res['items'][0]['address']['label']
    lat = res['items'][0]['position']['lat']
    lng = res['items'][0]['position']['lng']
#     return {"adress":adress, "lat":lat, "lng":lng}
    return res

In [60]:
reverse_geocoder_here((40.7614327, -73.9798156))

{'items': [{'title': '1301 6th Ave, New York, NY 10019-0127, United States',
   'id': 'here:af:streetsection:ayDv8YQoFHkwSYfh0WeeiB:CgcIBCCWjukjEAEaBDEzMDE',
   'resultType': 'houseNumber',
   'houseNumberType': 'PA',
   'address': {'label': '1301 6th Ave, New York, NY 10019-0127, United States',
    'countryCode': 'USA',
    'countryName': 'United States',
    'stateCode': 'NY',
    'state': 'New York',
    'county': 'New York',
    'city': 'New York',
    'district': 'Theater District-Times Square',
    'street': '6th Ave',
    'postalCode': '10019-0127',
    'houseNumber': '1301'},
   'position': {'lat': 40.76175, 'lng': -73.98003},
   'access': [{'lat': 40.76141, 'lng': -73.9793}],
   'distance': 40,
   'mapView': {'west': -73.97994,
    'south': 40.76053,
    'east': -73.97903,
    'north': 40.76178}}]}

## check map

In [38]:
import pandas as pd
import numpy as np

In [39]:
def get_map_data():
    print('get_map_data called')
    return pd.DataFrame(
            np.random.randn(1000, 2) / [50, 50] + [37.76, -122.4],
            columns=['lat', 'lon']
        )

In [40]:
get_map_data()

get_map_data called

           lat         lon
0    37.754900 -122.389403
1    37.777397 -122.431894
2    37.751341 -122.383356
3    37.737145 -122.387319
4    37.727492 -122.394000
..         ...         ...
995  37.781718 -122.391251
996  37.765211 -122.406913
997  37.781971 -122.418730
998  37.787618 -122.395946
999  37.773832 -122.387691

[1000 rows x 2 columns]

In [41]:
np.random.randn(1000, 2) / [50, 50] + [37.76, -122.4]

array([[  37.77356675, -122.40000464],
       [  37.75196372, -122.39941936],
       [  37.73721252, -122.4058184 ],
       ...,
       [  37.76652806, -122.38868628],
       [  37.76476245, -122.42208331],
       [  37.72967601, -122.40008939]])

In [45]:
pd.DataFrame({"lat":[1,2], "lng":[3,4]})

   lat  lng
0    1    3
1    2    4